body{
    background-image: url(https://wallpaper.dog/large/20364175.jpg);
    background-repeat: repeat;
}

#container{
    height: 1050px;
    width: 780px;
    background-color: rgb(0, 0, 0);
}

#mini-container{
    text-align: center;
    height: 950px;
    width: 750px;
    background-color: white;
}

#calculos_area{
    height: 400px;
    width: 450px;
    position: absolute;
    margin: auto;
}

.imc_img{
    width: 290px;
    height: 400px;
    display: flex;
    margin-left: 460px;
    flex-direction: row;
    position: relative;
}

.imc_img img{
    height: 100%;
    width: 75%;
    align-items: center;
    margin-left: 40px;
}

.imc_output{
    height: 200px;
    width: 50%;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px;
    margin-left: 200px;
}

.imc_output-text{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-left: 90px;
    margin-top: 80px;
}

#head{
    background-color: black;
    height: 80px;
    width: 550px;
}

#head-imc{
    height: 100px;
    width: 57%;
    position: relative;
    margin-left: 80px;
}

.text-head{
    padding: 0.5cm;
    font-family: 'header';
    color: white;
    font-size: 33px;

}

.calculo-text{
    font-family: 'header';
    color: rgb(0, 0, 0);
    font-size: 28px;
}

@font-face {
    font-family: 'header';
    font-style: normal;
    font-weight: bolder;
    src: url('/fonts/TrueType/Jost-600-Semi.ttf') format(TrueType);
}

@font-face {
    font-family: 'content';
    font-style: normal;
    font-weight: bolder;
    src: url('/fonts/TrueType/Jost-300-Light.ttf') format(TrueType);
}

input[type="number"],select{
    width: 70%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #afa8a8;
    border-radius: 10px;
    font-family: 'content';
}

input[type="text"]{
    width: 160px;
    height: 90px;
    font-size: 56px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'header';
    text-align: center;
    
}

label{
    display: block;
    font-size: 24px;
    color: black;
    text-align: left;
    margin-left: 20px;
    padding-top: 15px;
    margin-left: 40px;
    font-family: 'content';
}

button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'content';
}

button:hover{
    background-color: #000000;
    color: white;
}

th {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: solid 1px black;
    font-family: 'header';
  }
 
  td {
    padding: 10px;
    border: solid 1px black;
  }

  table {
    width: 95%;
    margin: 10px 0;
    font-size: 24px;
    border: solid 1px black;
  }

  #valorEdad{
    width: 50px;
  }

  #calHombres{
    width: 250px;
    height: 20px;
    font-family: 'content';
    font-size: 22px;
  }

  #calMujeres{
    width: 250px;
    height: 20px;
    font-family: 'content';
    font-size: 22px;

  }